block content
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title 改签功能
    link(rel='stylesheet', href='http://amazeui.org/css/amazeui.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/amazeui.datetimepicker.css')

    link(rel='stylesheet', href='//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css')
    script(src='//code.jquery.com/jquery-1.9.1.js')
    script(src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
    script(src='/js/amazeui.datetimepicker.min.js')
    link(rel='stylesheet', href='http://jqueryui.com/resources/demos/style.css')

    style.
      .header {
        text-align: center;
      }

      .header h1 {
        font-size: 200%;
        color: #333;
        margin-top: 30px;
      }

      .header p {
        font-size: 14px;
      }
  body
    .header
      .am-g
        h1 机票订单改签管理
      hr
    .am-g
      .am-u-lg-6.am-u-md-8.am-u-sm-centered
        if error
            p.am-text-danger #{error}
        h3 改签
        hr
        form.am-form(action='/', name='redo', method='get' id='redo')
          td.login_td(width='66', height='20') 改签日期
            td.login_td(width='115', height='20' name='date' id='date' )
              input#redoTime(type='dateTime')
          br
          td.login_td(width='115', height='20')
            input.action.am-btn-sm.am-btn.am-btn-default(type='button', name="showPrice" value='显示改签价格' id="showRedoPrice")
            input(type='text', name='price' readonly='readonly' id='price' value="")
          br
          .am-cf
            input.action.am-btn-sm.am-btn.am-btn-default(type='button', name="redoPay" value='支付' id="redoPay")
            input.am-btn.am-btn-primary.am-btn-sm.am-fl(type='hidden', id='orderNo', value='#{orderNo}')
        hr

block script
    script(type='text/javascript').

        $(document).ready(function () {

        });

        $(function () {
            $('#redoTime').datetimepicker({
                format: 'yyyy-mm-dd hh:ii:ss'
            });
        });

        $(document).on('click', '.action', function (e) {
            e.preventDefault();
            var parent = $(this).parents('tr');
            var orderNo = $("#orderNo").val();
            var redoTime = $("#redoTime").val();
            var action = $(this).attr('name');
            $.get('/' + action + '?orderNo=' + orderNo + "&date=" + redoTime + "&price=" + price, function (res) {
                if (res.code == 200) {
                    if (res.code == '200') {
                        if (action == 'showPrice') {
                            alert("查询改签金额成功")
                            $("#price").val(res.data);
                        } else {
                            alert("支付成功")
                            window.opener.location.reload();
                            window.close();
                        }
                    }
                } else {
                    alert(res.msg)
                }
            })
        });
