block content
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title 用户登录
    link(rel='stylesheet', href='http://amazeui.org/css/amazeui.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    style.
      .header {
        text-align: center;
      }

      .header h1 {
        font-size: 200%;
        color: #333;
        margin-top: 30px;
      }

      .header p {
        font-size: 14px;
      }
  body
    .header
      .am-g
        h1 机票订单管理系统
      hr
    .am-g
      .am-u-lg-6.am-u-md-8.am-u-sm-centered
        h3 登录
        hr
        form.am-form(action='/login', name='login', method='post')
          label(for='email') 用户名:
          input#email(type='text', name='name', value='')
          br
          label(for='password') 密码:
          input#password(type='password', name='password', value='')
          br
          .am-cf
            input.am-btn.am-btn-primary.am-btn-sm.am-fl(type='submit', name='', value='登 录')
            a.am-btn.am-btn-default.am-btn-sm.am-fr(href='/register') 注册
        hr
        p © 2018 Licensed under MIT license.